<form class="boost-pfs-search-form" action="{{ routes.search_url }}" method="get" role="search">
    <input class="boost-pfs-search-input" type="search" name="q" value="{{ search.terms | escape }}">
    <button type="submit" class="boost-pfs-search-btn" aria-label="Submit"></button>
</form>