<script>
  const policyTitle = document.querySelector('.shopify-policy__title > h1');
  policyTitle.innerHTML = policyTitle.innerHTML.replace(/^\s*\w+/, '<span class="italic-title">$&</span>');
</script>
